div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: hsl(180, 92%, 52%);
    display: inline-block;
}
body{
    background-image: url("nature_css.jpg") ;
    background-size: cover;
    background-repeat:no-repeat;
}
#box1{
    background-image: url("nature_css.jpg");
    background-size: cover;
}
#box2{
    background-image: url("nature_css.jpg") ;
    background-size: contain;
}
#box3{
    background-image: url("nature_css.jpg") ;
    background-size: auto;
}
#box4{
    background-image: url("nature_css.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
}