div{
    height:100px;
    width: 100px;
    background-color: rgb(147, 224, 108);
    font-size: large;
    /* border-width:3px ;
    border-style: solid;
    border-color: red; */
    border: 4px black solid;
    border-radius: 0;
    padding: 25px 35px 40px 45px;
    text-align: center;
    margin: 50px 40px 30px 100px;
}
h1{
    width: 200px;
    height: 50px;
    background-color: magenta;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(124, 174, 218);
    text-align: center;

}